body, html {
    background-image: url("assets/background.png");
}

.resim {
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.png {
    width: 200px;
    height: auto;
    margin-left: 100px;
}

.login {
    color:white;
    text-decoration:underline;
}

.blog1, .blog2, .blog3 {
    color: white;
    float: left;
    height: 300px;
    width: 30%;
    padding-left: 110px;
}


.iku_gym_blog {
    margin-left: 100px;
    color: white;
    margin-bottom: 50px;
    text-align: center;
    border: 3px solid red;
    border-radius: 30%;
}

.fixed {
    position: fixed;
}

a {
    font-weight: bold;
    font-size: large;
    padding-left: 20px;
    font-size: x-large;
    color: blue;
}

    .nav_bar, a:hover {
        color: rgb(201, 201, 37);
    }

    .nav_bar, a:active {
        color: green;
    }

    .nav_bar, a:link {
        text-decoration: none;
    }


#footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
}

.footer-inside {
    color: blue;
    background-color: white;
    text-align: center;
    text-decoration: underline;
}

    .footer-inside:hover {
        color: red;
    }

#contact {
    text-decoration: underline;
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



    input[type=submit]:hover {
        background-color: #45a049;
    }


.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


.phone_number {
    font-weight: bold;
    font-size: 25px;
    padding-left: 0px;
}

.fon {
    height: 25px;
    width: 25px;
    margin-left: 250px;
}

.work_hours {
    text-align: center;
    text-decoration: underline;
}

.work {
    text-align: center;
}

.contact1 {
    height: 400px;
    width: auto;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
    border-radius: 0.7rem;
    font: bold;
}

.con {
    text-align: center;
    padding-top: 60px;
}

.about_us_jpg {
    position: absolute;
    height: 602px;
    width: 100%;
    opacity: 0.5;
    margin-top: -50px;
}

.about_us_title {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    color: whitesmoke;
    font-size: 85px;
    padding-top: 100px;
}

.about_us_p {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    color: whitesmoke;
    font-size: 50px;
}

.about_text {
    color: white;
    margin-top: 300px;
    font-size: 20px;
    padding-left: 150px;
    padding-right: 150px;
    line-height: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.about_us_fotolar {
    margin-left: 400px;
}

.left_pading {
    margin-left: 50px;
}

.about_us_foto_alti {
    color: white;
    margin-left: 45px;
}

.div1 {
    width: 25%;
    float: left;
    height: 100%;
    text-align: center;
}

.div1_text {
    text-align: center;
    float: left;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.div2 {
    width: 25%;
    float: left;
    height: 100%;
    text-align: center;
}

.div3 {
    width: 25%;
    float: left;
    height: 100%;
    text-align: center;
}

.div4 {
    width: 25%;
    height: 100%;
    float: left;
    text-align: center;
}


* {
    box-sizing: border-box
}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}




.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

.text {
    color: black;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: bolder;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.blog_text {
    line-height: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.blog_center {
    font-weight: bolder;
    text-decoration: underline;
}

.home_h1 {
    color: white;
    text-align: center;
    margin-bottom: 100px;
    font-family: 'Times New Roman', Times, serif;
}

.form {
    margin: auto;
    padding: 0;
    min-width: 90vw;
    width: 90vw;
    min-height: 250px;
    height: 90vh;
}

    .form .input {
        margin: auto;
        padding: 10px;
        min-width: 90%;
        width: 90%;
        min-height: 20px;
        height: auto;  
        color:white;
    }

        .form .input .inner {
            border: none;
            border-radius: 0;
            width: 15%;
            min-height: 50px;
            height: auto;
            margin:0;
            display:block;
            float:left;
        }

        .form .input .outer {
            border: none;
            border-radius: 0;
            width: 85%;
            min-height: 50px;
            height: auto;
            margin: 0;
            display: block;
            float: right;
        }

        .form .input input {
            border: none;
            border-radius: 0;
            width: 90%;
            min-height: 30px;
            height: 30px;
            margin:0;
            padding:5px;
        }
    .form .button {
        margin: auto;
        padding: 10px;
        min-width: 90%;
        width: 90%;
        min-height: 20px;
        height: auto;
    }
    .form .error {
        margin: auto;
        padding: 10px;
        min-width: 90%;
        width: 90%;
        min-height: 20px;
        height: auto;
        color: white;
    }
    .form .error .inner {
        border: none;
        border-radius: 0;
        width: 15%;
        min-height: 50px;
        height: auto;
        margin: 0;
        display: block;
        float: left;
    }

    .form p a { color: white; }



.products {
    margin: auto;
    padding:0;
    min-width: 90vw;
    width: 90vw;
    min-height: 250px;
    height: 90vh;
}
    .products .product {
        margin: auto;
        padding: 10px;
        min-width: 25%;
        width: 25%;
        min-height: 250px;
        height: auto;
        display: block;
        float:left;
        background-color: rgba(0,0,0,0.3);
        border:1px solid #222222;
        border-radius: 5%;
    }

        .products .product .product_img {
            display:block;
            text-align:center;
        }
            .products .product .product_img img {
                max-width: 250px;
                height:auto;
            }

        .products .product .product_name {
            display: block;
            color:white;
            text-align:center;
        }

        .products .product .product_details p {
            display: block;
            color: white;
            text-align: center;
            margin: 0 auto 20px auto;
        }
            .products .product .product_purchase a {
                background-color: rgba(0,255,0,0.5);
                border: 1px solid #222222;
                border-radius: 5px;
                color: white;
                text-align: center;
                margin: 0 auto 0 auto;
                padding: 5px 5px 5px 5px;
            }

            .white {color:white;}