@{
    ViewBag.Title = "İstanbul Kültür Üniversitesi";
}

   
    
    

    <div>
        <img class="about_us_jpg" src="@Url.Content("~/Content/assets/about_us.jpg")" alt="">
        <h1 class="about_us_title">WHO ARE WE?</h1>
        <h1 class="about_us_p">About Us</h1>
    </div>
    <div class="about_text">
        <p>
            As IKU GYM, we set out to create meeting points that offer “the newest and the best” with projects that go beyond the dreams of our guests and make a difference in the sports sector. Since 2007; By combining advanced technology, science and entertainment, we offer tailor-made services that increase people's quality of life, with a professional management. Our priority will be to create positive experiences for our guests by offering sincere and sincere service, environments and innovations. Concepts aiming to continue the sports club culture created by Mars Athletic Clubs add joy and happiness to their members' lives with sports in a fun atmosphere that adds their mischievous spirit.
        </p>
    </div>

    <div class="about_us_fotolar">
        <table>
            <tr>
                <td><img src="@Url.Content("~/Content/assets/city.png")" alt="" class="left_pading"></td>
                <td><h1 class="about_us_foto_alti">5 CITY</h1></td>
            </tr>

            <tr>
                <td><img src="@Url.Content("~/Content/assets/dumbel.png")" alt="" class="left_pading"></td>
                <td><h1 class="about_us_foto_alti">14 GYM</h1></td>
            </tr>

            <tr>
                <td><img src="@Url.Content("~/Content/assets/cominity.png")" alt="" class="left_pading"></td>
                <td><h1 class="about_us_foto_alti">54 Personal Trainer</h1></td>
            </tr>
        </table>
    </div>


    





