
@{
    ViewBag.Title = "İstanbul Kültür Üniversitesi";
}



    

    

    <h1 class="iku_gym_blog">IKU GYM BLOG</h1>

    <div class="blog1">
        <h3 class="blog_center">Whey Protein? Isolated Protein?</h3>

        <p class="blog_text">
            Due to the biological structure of human beings,
            there are building blocks that help the body build muscle and lose weight.
            Protein, which is the most important of these building blocks, is the greatest need of the body's muscle structure.
            For this reason, when it comes to protein, we can encounter different types of protein supplements.
            We frequently witness that fitness enthusiasts, who are interested in fitness or keep sports in their lives, consume protein-containing products.
            However,
            it is important for you to know which of these protein types is suitable for your muscle development in line with your goals.
            Whey protein and Isolated protein are among the best choices among these protein types.
        </p>
        <img src="@Url.Content("~/Content/assets/protein-powder1.png")" alt="" style="height: 200px; width: 250px;">

    </div>


    <div class="blog2">

        <h3 class="blog_center">Wrist Grip In The Most Correct Form</h3>
        <p class="blog_text">
            In this blog post, we will talk about the importance of your wrist grip and wrist form during training in order to protect your wrist health and get better efficiency from your exercises. For your body, your joints in the wrist and wrist area are an important factor for your health. You use your wrist very actively both in your daily life and during your workouts. In this way, you can protect your wrist health with the right form of wrist grips to protect and strengthen your wrist health during your workouts.
        </p>
        <img src="@Url.Content("~/Content/assets/bilek2.jpg")" alt="" style="height: 200px; width: 250px;">

    </div>

    <div class="blog3">
        <h3 class="blog_center">What is Fiber? What Are Fibrous Foods?</h3>


        <p class="blog_text">
            Fiber is the name given to the parts of the food that the human body cannot digest and cannot participate in the blood circulation. Fiber can also be called dietary fiber in the literature. Consuming fibrous foods is of great importance in protecting the intestines and digestive system. In the absence of fiber in the body, you may face the problem of constipation, which is among some digestive problems. While fibrous foods protect you from many diseases, they pass from the small intestine to the large intestine and help the stool to be expelled quickly, thus reducing the body's toxin accumulation. In addition, the perception that an individual with diarrhea should not consume fibrous food while having diarrhea is not correct. Fiber intake is good for both diarrhea and constipation.

            Fibers, on the other hand, are a good attenuator. By reducing the absorption of fat in the intestine, they can help reduce the calorie intake and lose weight. Fibrous foods increase the feeling of satiety by keeping plenty of water in the stomach. Thus, if the person has a goal of losing weight and consumes fibrous foods, he will reach his goal.

            Another feature is that it can regulate blood sugar imbalances such as insulin resistance and sugar. Foods rich in fiber also have a higher glycemic index. Since foods with a high glycemic index are foods that keep blood sugar in balance, sugar, etc. positive effects are also seen for ailments.
        </p>
        <img src="@Url.Content("~/Content/assets/lif_3.jpg")" alt="" style="height: 200px; width: 250px; position: absolute;">

    </div>







