
@{
    ViewBag.Title = "İstanbul Kültür Üniversitesi";
}

    <div class="div1">
        <img src="@Url.Content("~/Content/assets/bca.png")" alt="" style="height: 400px;margin-top: -125px;">
        <div class="div1_text">
            <p>
                BCAA+ easily mixed product containing BCAA amino acids (Leucine, Isoleucine, Valine) in a 4:1:1 ratio. These amino acids are essential amino acids that cannot be produced and are only supplied with.
            </p>

            <ul>
                <li>It is also found in high protein content such as eggs, meat and its products.</li>
                <li>Because they are not self-generated, they are taken from internal references.</li>
                <li>BCAA; It is a chain of amino acids consisting of leucine, isoleucine, and valine.</li>
            </ul>

        </div>
    </div>

    <div class="div2">
        <img src="@Url.Content("~/Content/assets/creatine.png")" alt="" style="height:400px; margin-top: -125px;">
        <div class="div1_text">
            <p>
                Creatine is a popular amino acid preferred by professional athletes in all branches. Creatine is an amino acid Chain consisting of three different amino acids. It contains Glycine, Arginine and Methionine. Carbohydrates can be used with more students thanks to their consumption.

                Creatine will be useful in ending short-term, intense intense workouts.
            </p>

            <ul>
                <li>Most popular amino acid </li>
                <li>Creatine Monohydrate 200 mesh</li>
                <li>Approved by the Ministry of Agriculture and Forestry</li>
            </ul>

        </div>
    </div>

    <div class="div3">
        <img src="@Url.Content("~/Content/assets/gainer.png")" alt="" style="height:285px; margin-top: -10px;">
        <div class="div1_text">
            <p>Mass Gainer™ makes high-calorie and protein nutrition easy. When consumed as an additional meal, 14g of quality protein and 388 calories are taken as an extra.</p>

            <ul>
                <li>High Calorie</li>
                <li>Contains 14g of protein per serving.</li>
                <li>Contains high quality milk, pea and egg protein.</li>
            </ul>
        </div>
    </div>

    <div class="div4">
        <img src="@Url.Content("~/Content/assets/protein.png")" alt="" style="height:280px; margin-top: -5px;">
        <div class="div1_text">
            <p>Mass Gainer™ makes high-calorie and protein nutrition easy. When consumed as an additional meal, 14g of quality protein and 388 calories are taken as an extra.</p>

            <ul>
                <li>High Calorie</li>
                <li>Contains 14g of protein per serving.</li>
                <li>Contains high quality milk, pea and egg protein.</li>
            </ul>
        </div>
    </div>





    

